/* Global styling */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ----------- */
/* Variables ------------- */

:root {
  --nav-width: 35rem;
  --visited-link-color: black;
  --smaller-fs: 1.8rem;
  --normal-fs: 2rem;
  --large-fs: 2.2rem;
  --larger-fs: 2.6rem;
  --xl-fs: 3rem;
}

/* ----------- */
/* General Styling ------------- */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  height: 100%;
  margin: 0;
  word-spacing: 0.15rem;
  line-height: calc(var(--normal-fs) * 1.25);
}