/* Global styling */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ----------- */
/* Variables ------------- */

:root {
  --nav-width: 35rem;
  --visited-link-color: black;
  --smaller-fs: 1.8rem;
  --normal-fs: 2rem;
  --large-fs: 2.2rem;
  --larger-fs: 2.6rem;
  --xl-fs: 3rem;
}

/* ----------- */
/* General Styling ------------- */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  height: 100%;
  margin: 0;
  word-spacing: 0.15rem;
  line-height: calc(var(--normal-fs) * 1.25);
}

header {
  font-size: var(--large-fs);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(209deg 100% 32%);
  margin: 2rem 0;
}

/* Layout Styling */

.flex {
  display: flex;
}

/* ----------- */
/* Nav Styling */

nav {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  border-right: solid black 2px;
  min-width: var(--nav-width);
  height: 100%;
  background-color: white;
}

.link-container {
  overflow: hidden;
}

.link-container > * {
  padding: 2rem;
  display: block;
  font-size: var(--normal-fs);
  text-decoration: none;
  color: black;
}

nav > header,
.link-container > :not(:last-child) {
  border-bottom: black solid 2px;
}

nav > header {
  text-align: center;
}

nav a:visited {
  color: black;
}

nav a:hover {
  background-color: hsl(206, 56%, 58%);
  color: white;
}

/* ----------- */
/* Main Styling */

main {
  margin-left: var(--nav-width);
  flex-basis: 100%;
  padding: 0 1.5rem;
  background-color: hsl(0, 0%, 93%);
}

/* ----------- */